{{outlet}}

<br/>

<div class="content">
  <div class="col-xs-12 col-sm-6">
    <div class="col-xs-12">
      {{ model.player.name }}
    </div>
    <div class="col-xs-12">
      Record: {{model.player.wins}}-{{model.player.losses}}
    </div>
    <div class="col-xs-12">
      Bounty: {{model.player.bounty}}
    </div>
    <div class="col-xs-12">
      Score: {{model.player.score}}
    </div>
  </div>
</div>
