{{outlet}}


<div class="col-xs-12">
  <form {{action "submitMatch" model.match on="submit" }}>
    <div class="col-xs-12 col-sm-4 form-group" >
      <select title="p1" name="p1" onchange="" class="form-control"
        onchange={{action "change_p1_list" value="target.value" on="change"}} >
        <option value="-1">Player 1</option>
        {{#each model.p1_list as  |player|}}
          <option value="{{player.id}}" disabled={{ eq player.id p2 }}>
            {{player.name}}
          </option>
        {{/each}}
      </select>
    </div>

    <div class="col-xs-12 col-sm-4 vertical-center form-group">

      <div class="col-xs-4">
        <label class="radio-inline">
          {{radio-button value='p1' checked=result name="result"}} P1
        </label>
      </div>

      <div class="col-xs-4">
        <label class="radio-inline">
          {{radio-button value='tie' checked=result name="result"}} Tie
        </label>
      </div>

      <div class="col-xs-4">
        <label class="radio-inline">
          {{radio-button value='p2' checked=result name="result"}} P2
        </label>
      </div>


    </div>

    <div class="col-xs-12 col-sm-4 form-group">
      <select title="p2" name="p2" onchange="" class="form-control"
        onchange={{action "change_p2_list" value="target.value" on="change"}} >
        <option value="0">Player 2</option>
        {{#each model.p1_list as  |player|}}
          <option value="{{player.id}}" disabled={{ eq player.id p1 }}>
            {{player.name}}
          </option>
        {{/each}}
      </select>
    </div>

    <div class="col-xs-12">
      <p>
        {{ match_desc }}
      </p>
    </div>

    <div class="col-xs-12">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>

  </form>
</div>
